body{
  background-color: #EBE772;
  font-family: fantasy;
}

.cat{
  background-color: #989418;
  margin: 0.5em;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #878500;
  flex: 1;
}



@media (min-width: 960px) {
  
  .cats{
  display: flex;  
  }
}

fieldset{
  margin: 1em;
  border: 0;
}

button{
  margin: 0.5em;
  padding: 2px solid;
}

input {
  margin: 0.5em;
  padding: 2px solid;
}